<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.adamzielonka.converter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ConverterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme.Converter"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.AddMeasureActivity"
            android:label="@string/title_activity_add_measure"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditMeasureActivity"
            android:label="@string/title_activity_edit_measure"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditUnitActivity"
            android:label="@string/title_activity_edit_unit"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditOrderUnitsActivity"
            android:label="@string/title_activity_edit_order_units"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditPrefixActivity"
            android:label="@string/title_activity_edit_prefix"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditDescriptionActivity"
            android:label="@string/title_activity_edit_description"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.edit.EditFormulaActivity"
            android:label="@string/title_activity_formula_description"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
        <activity
            android:name=".activities.cloud.CloudListActivity"
            android:label="@string/title_activity_cloud_list"
            android:screenOrientation="portrait"
            android:theme="@style/BlueTheme" />
    </application>

</manifest>