<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pro.adamzielonka.converter">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/BlueTheme">
        <activity
            android:name=".activities.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <!--<intent-filter>-->
            <!--<action android:name="android.intent.action.MAIN" />-->

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        </activity>
        <activity
            android:name=".activities.StartActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ConverterActivity"
            android:theme="@style/BlueTheme.Converter"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.edit.AddMeasureActivity" />
        <activity android:name=".activities.edit.SetMeasureActivity" />
        <activity android:name=".activities.edit.EditMeasureActivity" />
        <activity android:name=".activities.edit.EditUnitActivity" />
        <activity android:name=".activities.edit.EditOrderUnitsActivity" />
        <activity android:name=".activities.edit.EditPrefixActivity" />
        <activity android:name=".activities.edit.EditDescriptionActivity" />
        <activity android:name=".activities.edit.EditFormulaActivity" />
        <activity android:name=".activities.edit.EditLanguagesActivity" />
        <activity android:name=".activities.edit.EditTranslationActivity" />
        <activity android:name=".activities.database.CloudActivity" />
        <activity android:name=".activities.database.MeasureDetailActivity" />
        <activity android:name=".activities.SettingsActivity" />

        <service
            android:name=".services.MyDownloadService"
            android:exported="false" />
        <service
            android:name=".services.MyUploadService"
            android:exported="false" />

        <activity android:name="pro.adamzielonka.items.ListViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>